---
---

@import "{{ site.theme }}";

@media only screen and (min-width: 960px) {
  .inner {
    width: 1050px;
  }
}

aside#sidebar {
  visibility: hidden;
}

.ImgFloatLeft {
  margin-right:  10px;
  margin-bottom: 10px;
}

p {
  text-align: justify;
}
