---
---

@import "{{ site.theme }}";

// Text volle Breite, Sidebar aus.
#main-content {
  width: 100%;
}

#sidebar {
  display: none;
}

.ImgFloatLeft {
  // Extra Spacing neben Bildern.
  margin-right:  20px;
  margin-bottom: 20px;
}

body, blockquote {
  font-size: 17px;
}

table {
  // Normal paragraph spacing after tables.
  margin-bottom: 20px;
}

p {
  // Blocksatz.
  text-align: justify;
}
